@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div id="example" class="k-content">
        <div id="clientsDb">
            <div id="grid"></div>
        </div>
        
        <script>
            $(document).ready(function () {                
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        create: {
                            url: "/api/Rooms",
                            contentType: "application/json",
                            type: "POST"
                        },
                        read: {
                            url: "/api/Rooms",
                            contentType: "application/json"
                        },
                        update: {
                            url: function (room) {
                                return "/api/Rooms/" + room.id;
                            },
                            contentType: "application/json",
                            type: "PUT"
                        },
                        destroy: {
                            url: function (room) {
                                return "/api/Rooms/" + room.id;
                            },
                            contentType: "application/json",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            return JSON.stringify(data);
                        }
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 3,                    
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "id",
                            fields: {
                                id: { editable: false, type: "number" },
                                number: { type: "string", validation: { required: true } },
                                description: { type: "string", validation: { required: true } }
                            }
                        }
                    }
                });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 430,
                    toolbar: ["create"],
                    columns: [                        
                        { field: "number", title: "Number" },
                        { field: "description", title: "Description" },                        
                        { command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup"
                });
            });
        </script>
    </div>

    <br />
    <br />

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>




